<div class="main">
  <!-- Calculator: fl oz per container, alcohol concentration, container count per sale unit, and price, to alcohol per dollar -->
  <h2>
    Booze Value Calculator
  </h2>
  <div>
    Container size: 
    <input
      type="number"
      [(ngModel)]="flOzPerContainer"
      class="text-input"
    />
    <input type="radio" [(ngModel)]="containerUnit" [value]="'ml'">
    <label for="ml">ml</label>
    <input type="radio" [(ngModel)]="containerUnit" [value]="'floz'" />
    <label for="flOz">fl oz</label>
  </div>
  <div>
    Alcohol percentage:
    <input
      type="number"
      [(ngModel)]="alcoholPercentage"
      class="text-input"
    />
    %
  </div>
  <div>
    Containers per sale unit:
    <input
      type="number"
      [(ngModel)]="containersPerSaleUnit"
      class="text-input"
    />
  </div>
  <div>
    Cost per sale unit: $
    <input type="number" [(ngModel)]="costPerSaleUnit" placeholder="price" class="text-input"/>
  </div>
  <div>
    <button (click)="update()">Calculate</button>
  </div>
  <div>
    <h2>
      Value: <span style="color:#ccc">{{ value }}</span> ml/dollar
    </h2>
  </div>
</div>
